# Global snippets
# This file contains snippets that are always defined.

#
# Brackets
#
snippet {
  {
    $1
  }

snippet (
  (
    $1
  )

snippet [
  [
    $1
  ]

#
# Comment Blocks
#
snippet ##
  #
  # $1
  #

snippet /*
  /*
   * $1
   */

#
# Dates
#
snippet date
  `strftime("%Y-%m-%d")`

snippet ddate
  `strftime("%B %d, %Y")`

snippet diso
  `strftime("%Y-%m-%dT%H:%M:%S")`

snippet time
  `strftime("%H:%M")`

snippet datetime
  `strftime("%Y-%m-%d %H:%M")`
